body {
  display: block;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  display: flex;
  height: 100px;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
.highScore {
  margin-right: auto;
  margin-bottom: auto;
  padding: 15px;
  color: rgb(170, 56, 126);
}
.timer {
  margin-left: auto;
  margin-bottom: auto;
  display: flex;
  justify-content: end;
  padding: 15px;
}

/* Main section */
main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  margin: auto;
  padding: 10px;
  width: 50%;
}
.titleContainer {
  margin: 10px;
  padding: 10px;
  max-width: 100%;
  height: auto;
  border-bottom: 1px solid purple;
}
#optionContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto;
  padding: auto;
  max-width: 100%;
  height: auto;
}
#optionContainer form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto;
  padding: auto;
  max-width: 100%;
  height: auto;
}
button {
  max-width: 50%;
  height: auto;
  background-color: purple;
  color: white;
  text-align: left;

  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
  text-align: left;
}

.visible {
  visibility: visible;
  z-index: 1;
}
.hidden {
  visibility: hidden;
  z-index: 0;
}
.submit {
  visibility: hidden;
}

#answerMessage {
  visibility: hidden;
  margin: 10px;
  margin-top: 25px;
  padding: 10px;
  border-top: 2px solid rgb(131, 127, 127, 0.8);
  color: rgba(114, 111, 111, 0.8);
}

.finalScore {
  visibility: hidden;
}

.hide {
  display: none;
}
